h1{ 
    color: turquoise;
    font-size: 50pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: orangered;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    
}